<h3>{{story.headline}} By: {{story.author}}</h3>
<h4>{{story.date}}</h4>
<p><img src={{story.image}} alt={{story.headline}}/></p>
<p>{{story.story}}</p>
<button {{action 'delete' story}}>Delete</button>
