
<div class="admin-border">
  <h3>{{story.headline}} By: {{story.author}}</h3>
  <h4>{{story.date}}</h4>
  <p><img src={{story.image}} alt={{story.headline}}/></p>
  <p>{{story.story}}</p>

  {{update-story story=story update="update"}}
  <button class="btn-lg btn-danger"{{action 'delete' story}}>Delete</button>
</div>
